body, html {
    padding: 0;
    margin: 0;
    background-color: #707070;
    color: white;
}
.title {
    padding-left: 40%;
}

.project {
    border: 5px solid black;
    width: 800px;
    height: 300px;
}
.project-label {
    border: 3px solid black;
    width: 30%;
    height: 80%;
    display: inline-block;
    vertical-align: middle;
    margin: 10px 0px;
    margin-left: 20px;
    padding: 15px;

}

.project-text {
    border: 3px solid black;
    width: 50%;
    margin: 0;
    margin-left: 5%;
    display: inline-block;
    vertical-align: middle;
    height: 270px;

    
}

.project-title {
    text-align: center;
    width: 100%;
    text-align: center;
    display: grid;
    vertical-align: middle;

}

.project-img {
    width: 150px;
    height: 150px;
    border: 3px solid black;
    display: grid;
    vertical-align: middle;
    padding: 0;
    margin: 0 15% 0 15%;
}

.resume {
    height: 900px;
    width: 100%;
}

.resume-body {
    padding: 0;
}

.resume-holder {
    width: 60%;
    display: inline-block;
    padding: 0 0 30px 50px;
}

.qual-holder {
    width: 30%;
    height: 900px;
    display: inline-block;
    vertical-align: top;
    padding-left: 40px;
}

.skill-title {
    padding-left: 50%;
}

nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}
nav ul {
    margin: 0;
}
nav li {
    display: inline;
}
nav a{
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}
nav li {
    padding: 0 5%;
}
nav a:hover{
    background-color: rgba(255,255,255,0.3);
}

header {
    background-color: rgba(0,0,0,0.6);
    background-image: url(Night_Sky.webp);
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;

}

.name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-weight: normal;
    color: white;
    font-size: 5em;
}

footer {
    background-color: #333;
    color: white;
    font-size: 80;
    padding: 20px 0;

}

.foot-img {
    width: 40px;
}

.foot {
    display: flex;
    align-items: center;
    padding: 0 40% 0 35%;
}
.foot-list {
    display: flex;
}
.foot-list span {
    padding-left: 40px;
}

.home-content {
    display: flex;
    align-items: center;
    padding: 10px 0;
    margin: 40px;
}

.portfolio-content {
    padding: 0 20% 0 26%;
}

.portrait {
    width: 400px;
}

.intro {
    padding-left: 100px;
    text-align: left;
    font-size: 30px;
    width: 1000px;
}

.filler {
    height: 300px;
}

.service-holder {
    display: grid;
    text-align: center;
    width: 60%;
    padding-left: 20%;
}

.filler-2 {
    height: 30px;
}

.qual-page {
    padding-top: 40px;
}